* {
    box-sizing: border-box;
}

body {
    background-color: rgb(102, 23, 237);
}

#container1 {
    display: grid;
    margin: 20px;
    grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 50px 30px;
}

#container1>div {
    border: 1px solid cyan;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#a1 {
    grid-area: 1/1/2/2;
    background-color: palevioletred;
}

#a1:hover {
    font-size: 25px;
}

#a2 {
    grid-area: 1/18/1/19;
    background-color: white;
}

#a2:hover {
    font-size: 25px;
}

#a3 {
    grid-area: 2/1/3/2;
    background-color: lightsalmon;
}

#a3:hover {
    font-size: 25px;
}

#a4 {
    grid-area: 2/2/3/3;
    background-color: lightcyan;
}

#a4:hover {
    font-size: 25px;
}

#a5 {
    grid-area: 2/13/3/14;
    background-color: lightcoral;
}

#a5:hover {
    font-size: 25px;
}

#a6 {
    grid-area: 2/14/3/15;
    background-color: lightcoral;
}

#a6:hover {
    font-size: 25px;
}

#a7 {
    grid-area: 2/15/3/16;
    background-color: lightcoral;
}

#a7:hover {
    font-size: 25px;
}

#a8 {
    grid-area: 2/16/3/17;
    background-color: lightcoral;
}

#a8:hover {
    font-size: 25px;
}

#a9 {
    grid-area: 2/17/3/18;
    background-color: lightseagreen;
}

#a9:hover {
    font-size: 25px;
}

#a10 {
    grid-area: 2/18/3/19;
    background-color: white;
}

#a10:hover {
    font-size: 25px;
}

#a11 {
    grid-area: 3/1/4/2;
    background-color: lightsalmon;
}

#a11:hover {
    font-size: 25px;
}

#a12 {
    grid-area: 3/2/4/3;
    background-color: lightcyan;
}

#a12:hover {
    font-size: 25px;
}

#a13 {
    grid-area: 3/13/4/14;
    background-color: pink;
}

#a13:hover {
    font-size: 25px;
}

#a14 {
    grid-area: 3/14/4/15;
    background-color: lightcoral;
}

#a14:hover {
    font-size: 25px;
}

#a15 {
    grid-area: 3/15/4/16;
    background-color: lightcoral;
}

#a15:hover {
    font-size: 25px;
}

#a16 {
    grid-area: 3/16/4/17;
    background-color: lightcoral;
}

#a16:hover {
    font-size: 25px;
}

#a17 {
    grid-area: 3/17/4/18;
    background-color: lightseagreen;
}

#a17:hover {
    font-size: 25px;
}

#a18 {
    grid-area: 3/18/4/19;
    background-color: white;
}

#a18:hover {
    font-size: 25px;
}

#a19 {
    grid-area: 4/1/5/2;
    background-color: lightsalmon;
}

#a19:hover {
    font-size: 25px;
}

#a20 {
    grid-area: 4/2/5/3;
    background-color: lightcyan;
}

#a20:hover {
    font-size: 25px;
}

#a21 {
    grid-area: 4/3/5/4;
    background-color: lightgreen;
}

#a21:hover {
    font-size: 25px;
}

#a22 {
    grid-area: 4/4/5/5;
    background-color: blueviolet;
}

#a22:hover {
    font-size: 25px;
}

#a23 {
    grid-area: 4/5/5/6;
    background-color: blueviolet;
}

#a23:hover {
    font-size: 25px;
}

#a24 {
    grid-area: 4/6/5/7;
    background-color: blueviolet;
}

#a24:hover {
    font-size: 25px;
}

#a25 {
    grid-area: 4/7/5/8;
    background-color: blueviolet;
}

#a25:hover {
    font-size: 25px;
}

#a26 {
    grid-area: 4/8/5/9;
    background-color: blueviolet;
}

#a26:hover {
    font-size: 25px;
}

#a27 {
    grid-area: 4/9/5/10;
    background-color: blueviolet;
}

#a27:hover {
    font-size: 25px;
}

#a28 {
    grid-area: 4/10/5/11;
    background-color: blueviolet;
}

#a28:hover {
    font-size: 25px;
}

#a29 {
    grid-area: 4/11/5/12;
    background-color: blueviolet;
}

#a29:hover {
    font-size: 25px;
}

#a30 {
    grid-area: 4/12/5/13;
    background-color: blueviolet;
}

#a30:hover {
    font-size: 25px;
}

#a31 {
    grid-area: 4/13/5/14;
    background-color: pink;
}

#a31:hover {
    font-size: 25px;
}

#a32 {
    grid-area: 4/14/5/15;
    background-color: pink;
}

#a32:hover {
    font-size: 25px;
}

#a33 {
    grid-area: 4/15/5/16;
    background-color: lightcoral;
}

#a33:hover {
    font-size: 25px;
}

#a34 {
    grid-area: 4/16/5/17;
    background-color: lightcoral;
}

#a34:hover {
    font-size: 25px;
}

#a35 {
    grid-area: 4/17/5/18;
    background-color: lightseagreen;
}

#a35:hover {
    font-size: 25px;
}

#a36 {
    grid-area: 4/18/5/19;
    background-color: white;
}

#a36:hover {
    font-size: 25px;
}

#a37 {
    grid-area: 5/1/6/2;
    background-color: lightsalmon;
}

#a37:hover {
    font-size: 25px;
}

#a38 {
    grid-area: 5/2/6/3;
    background-color: lightcyan;
}

#a38:hover {
    font-size: 25px;
}

#a39 {
    grid-area: 5/3/6/4;
    background-color: lightgreen;
}

#a39:hover {
    font-size: 25px;
}

#a40 {
    grid-area: 5/4/6/5;
    background-color: blueviolet;
}

#a40:hover {
    font-size: 25px;
}

#a41 {
    grid-area: 5/5/6/6;
    background-color: blueviolet;
}

#a41:hover {
    font-size: 25px;
}

#a42 {
    grid-area: 5/6/6/7;
    background-color: blueviolet;
}

#a42:hover {
    font-size: 25px;
}

#a43 {
    grid-area: 5/7/6/8;
    background-color: blueviolet;
}

#a43:hover {
    font-size: 25px;
}

#a44 {
    grid-area: 5/8/6/9;
    background-color: blueviolet;
}

#a44:hover {
    font-size: 25px;
}

#a45 {
    grid-area: 5/9/6/10;
    background-color: blueviolet;
}

#a45:hover {
    font-size: 25px;
}

#a46 {
    grid-area: 5/10/6/11;
    background-color: blueviolet;
}

#a46:hover {
    font-size: 25px;
}

#a47 {
    grid-area: 5/11/6/12;
    background-color: blueviolet;
}

#a47:hover {
    font-size: 25px;
}

#a48 {
    grid-area: 5/12/6/13;
    background-color: blueviolet;
}

#a48:hover {
    font-size: 25px;
}

#a49 {
    grid-area: 5/13/6/14;
    background-color: pink;
}

#a49:hover {
    font-size: 25px;
}

#a50 {
    grid-area: 5/14/6/15;
    background-color: pink;
}

#a50:hover {
    font-size: 25px;
}

#a51 {
    grid-area: 5/15/6/16;
    background-color: pink;
}

#a51:hover {
    font-size: 25px;
}

#a52 {
    grid-area: 5/16/6/17;
    background-color: lightcoral;
}

#a52:hover {
    font-size: 25px;
}

#a53 {
    grid-area: 5/17/6/18;
    background-color: lightseagreen;
}

#a53:hover {
    font-size: 25px;
}

#a54 {
    grid-area: 5/18/6/19;
    background-color: white;
}

#a54:hover {
    font-size: 25px;
}

#a55 {
    grid-area: 6/1/7/2;
    background-color: lightsalmon;
}

#a55:hover {
    font-size: 25px;
}

#a56 {
    grid-area: 6/2/7/3;
    background-color: lightcyan;
}

#a56:hover {
    font-size: 25px;
}

#a57 {
    grid-area: 6/3/7/4;
    background-color: lightgreen;
}

#a57:hover {
    font-size: 25px;
}

#a72 {
    grid-area: 6/4/7/5;
    background-color: blueviolet;
}

#a72:hover {
    font-size: 25px;
}

#a73 {
    grid-area: 6/5/7/6;
    background-color: blueviolet;
}

#a73:hover {
    font-size: 25px;
}

#a74 {
    grid-area: 6/6/7/7;
    background-color: blueviolet;
}

#a74:hover {
    font-size: 25px;
}

#a75 {
    grid-area: 6/7/7/8;
    background-color: blueviolet;
}

#a75:hover {
    font-size: 25px;
}

#a76 {
    grid-area: 6/8/7/9;
    background-color: blueviolet;
}

#a76:hover {
    font-size: 25px;
}

#a77 {
    grid-area: 6/9/7/10;
    background-color: blueviolet;
}

#a77:hover {
    font-size: 25px;
}

#a78 {
    grid-area: 6/10/7/11;
    background-color: blueviolet;
}

#a78:hover {
    font-size: 25px;
}

#a79 {
    grid-area: 6/11/7/12;
    background-color: blueviolet;
}

#a79:hover {
    font-size: 25px;
}

#a80 {
    grid-area: 6/12/7/13;
    background-color: blueviolet;
}

#a80:hover {
    font-size: 25px;
}

#a81 {
    grid-area: 6/13/7/14;
    background-color: pink;
}

#a81:hover {
    font-size: 25px;
}

#a82 {
    grid-area: 6/14/7/15;
    background-color: pink;
}

#a82:hover {
    font-size: 25px;
}

#a83 {
    grid-area: 6/15/7/16;
    background-color: pink;
}

#a83:hover {
    font-size: 25px;
}

#a84 {
    grid-area: 6/16/7/17;
    background-color: pink;
}

#a84:hover {
    font-size: 25px;
}

#a85 {
    grid-area: 6/17/7/18;
    background-color: lightseagreen;
}

#a85:hover {
    font-size: 25px;
}

#a86 {
    grid-area: 6/18/7/19;
    background-color: white;
}

#a86:hover {
    font-size: 25px;
}

#a87 {
    grid-area: 7/1/8/2;
    background-color: lightsalmon;
}

#a87:hover {
    font-size: 25px;
}

#a88 {
    grid-area: 7/2/8/3;
    background-color: lightcyan;
}

#a88:hover {
    font-size: 25px;
}

#a89 {
    grid-area: 7/3/8/4;
    background-color: aquamarine;
}

#a89:hover {
    font-size: 25px;
}

#a104 {
    grid-area: 7/4/8/5;
    background-color: blueviolet;
}

#a104:hover {
    font-size: 25px;
}

#a105 {
    grid-area: 7/5/8/6;
    background-color: blueviolet;
}

#a105:hover {
    font-size: 25px;
}

#a106 {
    grid-area: 7/6/8/7;
    background-color: blueviolet;
}

#a106:hover {
    font-size: 25px;
}

#a107 {
    grid-area: 7/7/8/8;
    background-color: blueviolet;
}

#a107:hover {
    font-size: 25px;
}

#a108 {
    grid-area: 7/8/8/9;
    background-color: blueviolet;
}

#a108:hover {
    font-size: 25px;
}

#a109 {
    grid-area: 7/9/8/10;
    background-color: blueviolet;
}

#a109:hover {
    font-size: 25px;
}

#a110 {
    grid-area: 7/10/8/11;
    background-color: blueviolet;
}

#a110:hover {
    font-size: 25px;
}

#a111 {
    grid-area: 7/11/8/12;
    background-color: blueviolet;
}

#a111:hover {
    font-size: 25px;
}

#a112 {
    grid-area: 7/12/8/13;
    background-color: blueviolet;
}

#a112:hover {
    font-size: 25px;
}

#a113 {
    grid-area: 7/13/8/14;
    background-color: pink;
}

#a113:hover {
    font-size: 25px;
}

#a114 {
    grid-area: 7/14/8/15;
    background-color: pink;
}

#a114:hover {
    font-size: 25px;
}

#a115 {
    grid-area: 7/15/8/16;
    background-color: pink;
}

#a115:hover {
    font-size: 25px;
}

#a116 {
    grid-area: 7/16/8/17;
    background-color: pink;
}

#a116:hover {
    font-size: 25px;
}

#a117 {
    grid-area: 7/17/8/18;
    background-color: lightseagreen;
}

#a117:hover {
    font-size: 25px;
}

#a118 {
    grid-area: 7/18/8/19;
    background-color: white;
}

#a118:hover {
    font-size: 25px;
}

#a58 {
    margin-top: 20px;
    grid-area: 8/4/9/5;
    background-color: lightgreen;
}

#a58:hover {
    font-size: 25px;
}

#a59 {
    margin-top: 20px;
    grid-area: 8/5/9/6;
    background-color: lightgreen;
}

#a59:hover {
    font-size: 25px;
}

#a60 {
    margin-top: 20px;
    grid-area: 8/6/9/7;
    background-color: lightgreen;
}

#a60:hover {
    font-size: 25px;
}

#a61 {
    margin-top: 20px;
    grid-area: 8/7/9/8;
    background-color: lightgreen;
}

#a61:hover {
    font-size: 25px;
}

#a62 {
    margin-top: 20px;
    grid-area: 8/8/9/9;
    background-color: lightgreen;
}

#a62:hover {
    font-size: 25px;
}

#a63 {
    margin-top: 20px;
    grid-area: 8/9/9/10;
    background-color: lightgreen;
}

#a63:hover {
    font-size: 25px;
}

#a64 {
    margin-top: 20px;
    grid-area: 8/10/9/11;
    background-color: lightgreen;
}

#a64:hover {
    font-size: 25px;
}

#a65 {
    margin-top: 20px;
    grid-area: 8/11/9/12;
    background-color: lightgreen;
}

#a65:hover {
    font-size: 25px;
}

#a66 {
    margin-top: 20px;
    grid-area: 8/12/9/13;
    background-color: lightgreen;
}

#a66:hover {
    font-size: 25px;
}

#a67 {
    margin-top: 20px;
    grid-area: 8/13/9/14;
    background-color: lightgreen;
}

#a67:hover {
    font-size: 25px;
}

#a68 {
    margin-top: 20px;
    grid-area: 8/14/9/15;
    background-color: lightgreen;
}

#a68:hover {
    font-size: 25px;
}

#a69 {
    margin-top: 20px;
    grid-area: 8/15/9/16;
    background-color: lightgreen;
}

#a69:hover {
    font-size: 25px;
}

#a70 {
    margin-top: 20px;
    grid-area: 8/16/9/17;
    background-color: lightgreen;
}

#a70:hover {
    font-size: 25px;
}

#a71 {
    margin-top: 20px;
    grid-area: 8/17/9/18;
    background-color: lightgreen;
}

#a71:hover {
    font-size: 25px;
}

#a90 {
    grid-area: 9/4/10/5;
    background-color: aquamarine;
}

#a90:hover {
    font-size: 25px;
}

#a91 {
    grid-area: 9/5/10/6;
    background-color: aquamarine;
}

#a91:hover {
    font-size: 25px;
}

#a92 {
    grid-area: 9/6/10/7;
    background-color: aquamarine;
}

#a92:hover {
    font-size: 25px;
}

#a93 {
    grid-area: 9/7/10/8;
    background-color: aquamarine;
}

#a93:hover {
    font-size: 25px;
}

#a94 {
    grid-area: 9/8/10/9;
    background-color: aquamarine;
}

#a94:hover {
    font-size: 25px;
}

#a95 {
    grid-area: 9/9/10/10;
    background-color: aquamarine;
}

#a95:hover {
    font-size: 25px;
}

#a96 {
    grid-area: 9/10/10/11;
    background-color: aquamarine;
}

#a96:hover {
    font-size: 25px;
}

#a97 {
    grid-area: 9/11/10/12;
    background-color: aquamarine;
}

#a97:hover {
    font-size: 25px;
}

#a98 {
    grid-area: 9/12/10/13;
    background-color: aquamarine;
}

#a98:hover {
    font-size: 25px;
}

#a99 {
    grid-area: 9/13/10/14;
    background-color: aquamarine;
}

#a99:hover {
    font-size: 25px;
}

#a100 {
    grid-area: 9/14/10/15;
    background-color: aquamarine;
}

#a100:hover {
    font-size: 25px;
}

#a101 {
    grid-area: 9/15/10/16;
    background-color: aquamarine;
}

#a101:hover {
    font-size: 25px;
}

#a102 {
    grid-area: 9/16/10/17;
    background-color: aquamarine;
}

#a102:hover {
    font-size: 25px;
}

#a103 {
    grid-area: 9/17/10/18;
    background-color: aquamarine;
}

#a103:hover {
    font-size: 25px;
}