* {
    box-sizing: border-box;
}

body {
    border: 1px solid;
}

h1 {
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
}

.navbar {
    border: 1px solid;
    margin-bottom: 10px;
}

.navbar>ul {
    list-style: none;
    justify-content: space-around;

}

.navbar>ul>li {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.navbar>ul>li>a {
    text-decoration: none;
    color: black;
}

.sec1 {
    display: flex;
}

.sidebar {
    border: 1px solid;
    height: 500px;
    flex-grow: 2;
}

.product {
    border: 1px solid;
    height: 500px;
    flex-grow: 8;
    display: flex;
    justify-content: space-around;
}

.product>div {
    border: 1px solid;
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.product>div>div {
    border: 1px solid;
    height: 100px;
    width: 100px;
    display: flex;
    margin: 0%;
}

.product p {
    margin: 0%;
}

.sec1>section {
    margin: 10px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/*media query start*/

@media screen and (min-width:500px) {
    .navbar>ul {
        display: flex;
    }
}